
<div class="container product-component">
  <div class="row">
    <div class="categories-side col-3">
      <div class="categories-list list-group">
        <a class="list-group-item" routerLinkActive="active" routerLink="/admin-panel/products-panel"> Products</a>
        <a class="list-group-item" routerLinkActive="active" routerLink="/admin-panel/categories-panel">Categories</a>
      </div>

    </div>
    <div class="product-side col-9 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

