<div class="w-100 m-3  flex-fill ">
  <div class="d-flex first-row flex-fill  justify-content-between align-items-center ">
    <div class="title"> Products</div>
    <div>
      <button class="btn button-main" routerLink="/admin-panel/products-panel/add">Add</button>
    </div>

  </div>
  <table class="table product-table flex-fill ">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Categories</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="products">
      <tr *ngFor="let product of products">
        <td scope="row"><img src="{{product.image}}" alt="product image"></td>
        <td>{{product.name}}</td>
        <td>{{product.price | currency: 'USD'}}</td>
        <td>{{product.category.name}}</td>
<!--        <td>{{product.categories?.title}}</td>-->
        <td>
          <button class="btn button-primary" [routerLink]="['/admin-panel/products-panel/edit', product.id]">Edit</button>
          <button class="btn btn-danger" (click)="deleteProductItem(product.id)">Delete</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
