<div class="container">
  <div class="row">
    <div class="categories-side col-4">
      <ul class="categories-list list-group" >
        <a class="list-group-item" routerLinkActive="active" *ngFor="let cat of categories"> {{cat.name}} </a>
      </ul>
    </div>
    <div class="product-side col-8 d-flex gap-3">
        <div class="row">
          <div class="col-4 my-3" *ngFor="let product of products" >
            <app-product-item  [product]="product"></app-product-item>
          </div>
        </div>
    </div>
  </div>
</div>
