@import "src/assets/scss/common";

.product-component{
  padding: 40px 0;
}

.search-bar{
  font-family: $text-font;
  &:focus{
    box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.3);
    border-color: $primary-color;
  }
}

.categories-side{
  .categories-list{
    a{
      font-family: $text-font;
      text-transform: capitalize;
      font-size: 18px;
      &.active{
        border-color: $primary-color;
        background-color:$primary-color ;
      }
    }
  }
}

.message-box{
  font-family: $title-font;
  text-transform: capitalize;
  font-size: 18px;
  text-align: center;
  padding-top: 70px;
}
