<div *ngIf="product" class="product-item-container"><!--   routerLink=['product-details', id]-->
  <div class="image-container">
    <img src="{{product.image}}" alt="product image">
  </div>
  <div class="content-container">
    <h2 class="title">{{product.name}}</h2>
    <p> {{product.price | currency: 'USD'}}</p>
<!--    old price-->
    <!--    <input type="number">-->

    <button  class="btn btn-primary" (click)="$event.stopPropagation()" *ngIf="userLoggedIn">add to card</button><!-- visible if auth *ngIF -->
  </div>
</div>
