
  <div class="banner-container">
    <div class="image-container">
      <img src="assets/images/banner.jpg" alt="main banner">
    </div>
    <div class="container banner-text-wrapper">
      <div class="banner-text">
        <h1>best E-commerce ever!!</h1>
      </div>
    </div>
  </div>

  <section class="category-section container" >
<!--    <h3 class="title">{{category.name}}</h3>-->
<!--    <h3 class="title">{{category.id}}</h3>-->
<!--    <div class="product-items-carousel">-->
<!--    </div>-->
    <div class="row">
      <div class="col-4 mt-4" *ngFor="let prod of products$ |async">
        <app-product-item   [product]="prod"></app-product-item>
      </div>
    </div>


  </section>





