
  <div class="banner-container">
    <div class="image-container">
      <img src="assets/images/banner.jpg" alt="main banner">
    </div>
    <div class="container banner-text-wrapper">
      <div class="banner-text">
        <h1>best E-commerce ever!!</h1>
      </div>
    </div>
  </div>

<!--  <section class="category-section" *ngFor="let category of categories">-->
<!--    <h3 class="title">{{category.name}}</h3>-->
<!--    <h3 class="title">{{category.id}}</h3>-->
<!--    <div class="product-items-carousel">-->
<!--      <app-product-item *ngFor="let similarProduct of similarProducts" (categoryId)="category.id" [product]="similarProduct"></app-product-item>-->
<!--    </div>-->
<!--  </section>-->

