<div class="">
  <div class="d-flex first-row  justify-content-between align-items-center ">
    <div class="title"> Categories</div>
    <div>
      <button class="btn  button-main" routerLink="/admin-panel/categories-panel/add">Add</button>
    </div>
  </div>
  <div class="">
    <table class="table category-table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="categories">
        <tr *ngFor="let category of categories">
          <th scope="row">{{category.id}}</th>
          <td>{{category.name}}</td>
          <td>
            <button class="btn button-primary " [routerLink]="['/admin-panel/categories-panel/edit', category.id]">Edit</button>
            <button class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
